.button {
  --size: var(--space-1, 1rem);
  --bg-color: transparent;

  padding: var(--size);
  background-color: var(--bg-color);
  border: 1px sold var(--bg-color);
  border-radius: 4px;
}

.button[data-variant="primary"] {
  --bg-color: var(--accent1);
}

.button[data-variant="secondary"] {
  border-style: dashed;
}
