body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--font);
  display: grid;
  place-items: center;
}

main {
  display: grid;
  flex-direction: column;
  gap: var(--space-1);
}

form {
  display: flex;
  gap: var(--space-1);
  align-items: center;
}
